.mainFooter ul.siteLinks a {
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #bb0c0c;
    margin: 0 10px;
    text-decoration: none;
}

.mainFooter {
    background: #222;
    padding: 100px 0 0;
}

.mainFooter p {
    font-size: 1.1rem;
    color: #555;
}

.mainFooter .copyrights {
    margin-top: 70px;
    background: #1d1d1d;
    padding: 30px 0;
}
