section,
footer {
 overflow-x:hidden
}

header {  
    margin-bottom: 60px;
}

.c-bg{
 border-bottom: 5px solid rgb(48, 134, 215);
  background-color: rgb(255, 255, 255);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
  color: rgb(129, 110, 110);
}

.btn {
  text-transform: uppercase;

}
section {
    position: relative;
    padding-top: 90px;
    padding-bottom: 90px;
}

section.hero {
  min-height: 100vh;
  position: relative;
  background-image: linear-gradient(-39deg, #ff6b6b 0%, #2b90d9 100%);
}

section.hero::before {
  content: 'Web Metropolis';
  display: inline-block;
  font-size: 20em;
  position: absolute;
  font-weight: 800;
  opacity: 0.04;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -48%);
}

section.hero .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

section.hero .text-shadow {
    text-shadow: 2px 2px 5px #185886;
}

section.hero h1, section.hero h3, section.hero p {
    color: #fff;
}

section.hero p {
    font-size: 1.6rem;
    font-weight: 300;
}

h1.small-heading {
    font-size: 1.25rem;
    font-weight: 600;
    color: #bfbfbf;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

$btn-border-radius:  5rem;
$link-color:  red ;

// .navbar-toggler-icon {
//   background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba%2811, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") ;
// }


// $navbar-icon-hamburger: rgba(255,255,255, .55);

          
.custom-toggler .navbar-toggler-icon { 
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 0, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")   !important;
        }; 

 .custom-toggler .navbar-toggler { 
            border-color: lightgreen !important; 
        }   

@import "~bootstrap/scss/bootstrap.scss";